[submodule "src/Acme/SymfonyanBundle"]
	path = src/Acme/SymfonyanBundle
	url = git://github.com/brtriver/SymfonyanBundle.git
[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/tumf/zend.git
[submodule "vendor/bundles/Behat/BehatBundle"]
	path = vendor/bundles/Behat/BehatBundle
	url = git@github.com:tumf/BehatBundle.git
[submodule "vendor/gherkin"]
	path = vendor/gherkin
	url = git://github.com/Behat/Gherkin.git
[submodule "vendor/behat"]
	path = vendor/behat
	url = git://github.com/Behat/Behat.git
