[submodule "vendor/zend"]
	path = vendor/zend
	url = git://github.com/tumf/zend.git
[submodule "vendor/bundles/Behat/BehatBundle"]
	path = vendor/bundles/Behat/BehatBundle
	url = git://github.com/tumf/BehatBundle.git
[submodule "vendor/gherkin"]
	path = vendor/gherkin
	url = git://github.com/Behat/Gherkin.git
[submodule "vendor/behat"]
	path = vendor/behat
	url = git://github.com/Behat/Behat.git
[submodule "vendor/bundles/Tumf/PearBundle"]
	path = vendor/bundles/Tumf/PearBundle
	url = git://github.com/tumf/PearBundle.git
[submodule "vendor/bundles/Acme/SymfonyanBundle"]
	path = vendor/bundles/Acme/SymfonyanBundle
	url = git://github.com/brtriver/SymfonyanBundle.git
